<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :picture %> 
    <%= form.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :posted_at %>
    <%= form.date_select :posted_at %>
  </div>

  <div class="field">
    <%= form.label :min_read %>
    <%= form.number_field :min_read %>
  </div>
  <div class="field">
     <%= form.label :category_id %>  
    <%= form.select(:category_id, @categories.map{|l| [l.category, l.id]}) %> 
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
