<p id="notice"><%= notice %></p>

<h1>Blogs</h1>
<div>
<%= search_form_for @q do |f| %>


  <%= f.label "Find post:" %>
  <%= f.search_field :title_or_body_cont %>


  <%= f.submit %>
<% end %>
</div>


  
<%@blogs.each do |blog|%>
<div class="media">


  <%= image_tag blog.picture, width: "200px", class:"mr-3" %>
  <div class="media-body">
  <%= link_to  blog_path(blog.id) do  %>
    <h5 class="badge badge-secondary"><%= blog.title %></h5>
    <%end%>
    <%if blog.category %>
    <h5>Category: <span><%= blog.category.category %></span></h5>
    
    <% if current_user && blog.user_id && current_user.id == blog.user_id %>
    <%= link_to 'Edit', edit_blog_path(blog) %>
    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    
    <%end%>
   
    <%end%>
    

  </div>
  
</div>
<%end%>
<br>


